    <!-- Banner -->
      <section id="banner">

        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="inner">

          <header>
            <h2>NO TRUE CALLING</h2>
          </header>
          <div style="text-transform: none;"> <p><Strong>Conversations</Strong> with epic personalities <br /> who continue to <strong>reinvent</strong> themselves <br /> as they pursue <strong> myriad callings</strong> - <br /> personally, professionally, and <strong>  beyond!</strong> </p> </div>
          <footer>
            <ul class="buttons vertical">
              <li><a href="#main" class="button fit scrolly">Go Down the Rabbithole</a></li>
            </ul>
          </footer>

        </div>

      </section>
