<!-- CTA -->
<section id="cta">

    <header>
        <h2><strong>Your Hosts</strong></h2>
         Hosted by <a href="http://instagram.com/notruecalling"> Sid </a> and <a href="http://stochastic.life"> Tarun </a> - two really rakish rationals <br/> residing in a sweepingly successful, small, sunny sojourn - Singapore.
    </header>
    <footer>
      <!-- <a href="https://twitter.com/no_true_calling?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @no_true_calling</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
        <ul class="buttons">
          <li><a href="https://twitter.com/no_true_calling?ref_src=twsrc%5Etfw" class="button">Stalk Us</a></li>
        </ul>
    </footer>

</section>


