{% extends "base.html" %}

{% include 'banner.html' %}

{% block content %}
<!-- Main -->
<article id="main">

  <header class="special container">
    <span class="icon fa-bar-chart-o"></span>

    <div class="css-185hv5i "><div class="css-1j3b328 "><h1 data-testid="" class="css-xhndym">This Multipotentiality Podcast is Multi Platform!</h1></div>

      <a href="https://podcasts.apple.com/us/podcast/no-true-calling/id1488634027?uo=4" target="_blank"> <img src="/images/apple_podcasts@2x.png" style="opacity: 1;" width="38" height="38"> </a>
      <a href="https://open.spotify.com/show/7AlxRpYz5uoV12nijMUSK4" target="_blank"> <img src="/images/spotify@2x.png" style="opacity: 1;" width="38" height="38"> </a>
      <a href="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/google_podcasts.png" target="_blank"> <img src="/images/google_podcasts@2x.png" style="opacity: 1;" width="38" height="38"> </a>
      <a href="https://www.breaker.audio/no-true-calling" target="_blank"> <img src="/images/breaker@2x.png" style="opacity: 1;" width="38" height="38"> 
      <a href="https://www.stitcher.com/podcast/no-true-calling" target="_blank"> <img src="/images/stitcher_dark@2x.png" style="opacity: 1;" width="38" height="38"> </a>
      <a href="https://d12xoj7p9moygp.cloudfront.net/images/podcast/logo-square/006/pocket_casts.png" target="_blank"> <img src="/images/pocket_casts@2x.png" style="opacity: 1;" width="38" height="38"> </a>
      <a href="https://radiopublic.com/no-true-calling-GMOxNl" target="_blank"> <img src="/images/radiopublic@2x.png" style="opacity: 1;" width="38" height="38"> </a>
    </div>    
    <br/>
    <iframe src="https://anchor.fm/notruecalling/embed" height="25%" width="80%" frameborder="0" scrolling="no"></iframe>
    <br/>
    
    <p>{{ articles[0].summary }} <a href="{{ SITEURL }}/{{ articles[0].url }}">Read More</a></p>

  </header>
</article>

{% include 'coolstuff.html' %}
{% include 'cta.html' %}
{% endblock content %}
